<a href="https://colab.research.google.com/github/aperfilyeva/anna_data601/blob/main/assignment_03/DS601_Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Python notebook that generates a file containing the following data:
 - Email addresses
 - Phone numbers
 - Home Address
 - Person's name
 - Year born. Use realistic values.
 - Number of kids. Use realistic values.
 - Categorical variable: rent or own?
 - Annual income. Optional challenge: Use a non-uniform distribution
 - Number of speeding tickets in past year. Optional challenge: Use a non-uniform distribution
 - User of your notebook should be able to specify how many entities are to be generated.
 - Generate data in 2 of the following 3 formats: XML, CSV, or JSON. Your choice! Order of columns in CSV is not relevant.

Faker tutorial:
https://www.youtube.com/watch?v=NCBDDTjZoC4

In [74]:
import pandas as pd
import numpy as np
import random
import string

### Define number of observations

In [80]:
obs=input("Input desired number of random observations:")
print(obs)

Input desired number of random observations:7
7

In [75]:
pip install faker

SyntaxError: ignored

In [11]:
pip install names

Collecting names
  Downloading names-0.3.0.tar.gz (789 kB)
     |████████████████████████████████| 789 kB 4.3 MB/s
Building wheels for collected packages: names
  Building wheel for names (setup.py) ... done
  Created wheel for names: filename=names-0.3.0-py3-none-any.whl size=803699 sha256=2a6ed8e006bce42bda9fe295e63ddcf70c7fc14d96a0885714eb9939c1d838ba
  Stored in directory: /root/.cache/pip/wheels/05/ea/68/92f6b0669e478af9b7c3c524520d03050089e034edcc775c2b
Successfully built names
Installing collected packages: names
Successfully installed names-0.3.0

In [81]:
# Email- option 1
import random
import string
domains = [ "hotmail.com", "gmail.com", "jh.edu", "umbc.edu" , "yahoo.com"]

def random_char(y):
       return ''.join(random.choice(string.ascii_letters) for x in range(y))

email_list=[]
i=0
while i <int(obs):
   email=random_char(7)  + "@" + domains[random.randint( 0, len(domains)-1)]
   email_list.append(email)
   i=i+1

email_list

['DCtLbYw@jh.edu',
 'xQsORcN@gmail.com',
 'PJgREXQ@hotmail.com',
 'gWvEvKc@hotmail.com',
 'LVizfQQ@yahoo.com',
 'TMWbAzT@hotmail.com',
 'jMkNRVH@umbc.edu']

### Random phone number

In [49]:
phone_list=[]
i=0
while i<10:
    phone_number=str(random.randint(100,999))+"-"+str(random.randint(100,999))+"-"+str(random.randint(1000,9999))
    phone_list.append(phone_number)
    i=i+1

phone_list

['433-689-1175',
 '706-438-7509',
 '452-688-1958',
 '260-620-8843',
 '460-672-5150',
 '470-649-6211',
 '283-723-5103',
 '899-295-1357',
 '630-324-6764',
 '658-801-1887']

### Home Address

In [62]:
from faker import Faker

fake=Faker()

address_list=[]
i=0

while i<10:
  address=fake.address()
  address1=address.replace("\n"," ")
  address_list.append(address1)
  i=i+1

address_list

['Unit 3298 Box 7654 DPO AP 30857',
 '7458 Salinas Rapids Apt. 638 New Jamesmouth, LA 08074',
 'PSC 7911, Box 1967 APO AA 17795',
 '7935 Michelle Union Suite 009 Sanchezburgh, MO 79041',
 '279 Stone Plains South Christinaton, CA 25565',
 '6616 Taylor Bridge Suite 905 Palmerland, WA 45817',
 '4230 Julie Valley Suzannetown, LA 59384',
 'PSC 3829, Box 2263 APO AP 97306',
 '0266 Arnold Manor Port Carol, DE 47901',
 '0961 Gonzalez Cape Kaitlinside, AR 30924']

### Name List

In [70]:
name_list=[]
i=0

while i<10:
  name=fake.name()
  name_list.append(name)
  i=i+1

name_list

['Stephanie Marquez DDS',
 'Joseph Evans',
 'Adam Lewis',
 'Charles Benjamin',
 'Jeremy Hamilton',
 'Chelsey Brown',
 'Christopher Perez',
 'William Thompson',
 'Gabriel Brown',
 'Nicholas Lewis']

### Year Born

In [72]:
year_born_list=[]
i=0

while i<10:
    year_born=random.randint(1930,2021)
    year_born_list.append(year_born)
    i=i+1

year_born_list

[1972, 1945, 1960, 1969, 1951, 1991, 1963, 1979, 1964, 1955]

### Number of Kids

In [73]:
kids_list=[]
i=0

while i<10:
    kids=random.randint(0,5)
    kids_list.append(kids)
    i=i+1

kids_list

[3, 1, 4, 5, 4, 0, 2, 4, 3, 0]

In [69]:
import names

for i in range(10):
    print(names.get_full_name("female"))

Janice Chapman
Lauren Wilson
Melissa Fischer
Paulette Guzman
Susan Thorson
Brandie Placha
Mollie Pierce
May Gilbert
Avis Nii
Susan King