<a href="https://colab.research.google.com/github/aperfilyeva/anna_data601/blob/main/assignment_03/DS601_Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Python notebook that generates a file containing the following data:
 - Email addresses
 - Phone numbers
 - Home Address
 - Person's name
 - Year born. Use realistic values.
 - Number of kids. Use realistic values.
 - Categorical variable: rent or own?
 - Annual income. Optional challenge: Use a non-uniform distribution
 - Number of speeding tickets in past year. Optional challenge: Use a non-uniform distribution
 - User of your notebook should be able to specify how many entities are to be generated.
 - Generate data in 2 of the following 3 formats: XML, CSV, or JSON. Your choice! Order of columns in CSV is not relevant.

Faker tutorial:
https://www.youtube.com/watch?v=NCBDDTjZoC4

In [1]:
import pandas as pd
import numpy as np
import random
import string

### Define number of observations

In [11]:
obs=input("Input desired number of random observations:")
print(obs)

Input desired number of random observations:10
10

In [12]:
pip install faker

Collecting faker
  Downloading Faker-13.3.0-py3-none-any.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 4.4 MB/s
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from faker) (2.8.2)
Requirement already satisfied: typing-extensions>=3.10.0.2 in /usr/local/lib/python3.7/dist-packages (from faker) (3.10.0.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)
Installing collected packages: faker
Successfully installed faker-13.3.0

In [ ]:
pip install names

Collecting names
  Downloading names-0.3.0.tar.gz (789 kB)
     |████████████████████████████████| 789 kB 4.3 MB/s
Building wheels for collected packages: names
  Building wheel for names (setup.py) ... done
  Created wheel for names: filename=names-0.3.0-py3-none-any.whl size=803699 sha256=2a6ed8e006bce42bda9fe295e63ddcf70c7fc14d96a0885714eb9939c1d838ba
  Stored in directory: /root/.cache/pip/wheels/05/ea/68/92f6b0669e478af9b7c3c524520d03050089e034edcc775c2b
Successfully built names
Installing collected packages: names
Successfully installed names-0.3.0

In [13]:
# Email- option 1
import random
import string
domains = [ "hotmail.com", "gmail.com", "jh.edu", "umbc.edu" , "yahoo.com"]

def random_char(y):
       return ''.join(random.choice(string.ascii_letters) for x in range(y))

email_list=[]
i=0
while i <int(obs):
   email=random_char(7)  + "@" + domains[random.randint( 0, len(domains)-1)]
   email_list.append(email)
   i=i+1

email_list

['rpMOCrJ@yahoo.com',
 'NbQPbNX@yahoo.com',
 'DWEvThU@jh.edu',
 'VtpzLTI@jh.edu',
 'fhsrkMC@umbc.edu',
 'rchUdQG@umbc.edu',
 'RZpBRdD@jh.edu',
 'uHuSvBD@umbc.edu',
 'tXuGrAl@hotmail.com',
 'grogzgu@hotmail.com']

### Random phone number

In [41]:
phone_list=[]
i=0
while i<10:
    phone_number=str(random.randint(100,999))+"-"+str(random.randint(100,999))+"-"+str(random.randint(1000,9999))
    phone_list.append(phone_number)
    i=i+1

phone_list

['627-690-8656',
 '281-982-8354',
 '344-378-1808',
 '125-244-2393',
 '327-290-5798',
 '220-292-3463',
 '851-596-3206',
 '126-155-1382',
 '335-855-7116',
 '609-874-5979']

### Home Address

In [42]:
from faker import Faker

fake=Faker()

address_list=[]
i=0

while i<10:
  address=fake.address()
  address1=address.replace("\n"," ")
  address_list.append(address1)
  i=i+1

address_list

['9670 Miranda Lane West Jennifershire, MI 22659',
 '72268 Jones Row Apt. 545 Joeberg, TX 69982',
 '7189 Jeffrey Summit Joehaven, DE 21903',
 '62535 Kenneth Rest New Ryanfurt, OH 13472',
 '612 Williamson Gateway Suite 807 Clarkland, SD 88855',
 '4623 Miller Trail North Jesseberg, NJ 74223',
 '13721 Becker Mill Josephchester, NC 60810',
 '073 Maurice Keys Moonfurt, MA 80173',
 '13120 Johnson Cliffs Suite 380 Mariastad, OK 62016',
 '20604 Brown Squares South Briannaburgh, MS 62456']

### Name List

In [43]:
name_list=[]
i=0

while i<10:
  name=fake.name()
  name_list.append(name)
  i=i+1

name_list

['Melissa Hudson',
 'Cody Cantrell',
 'Nicholas Young',
 'Kevin Hawkins',
 'Christine Osborne',
 'Joyce Mckenzie',
 'Darryl Michael',
 'Richard Chavez',
 'Christina Christian',
 'Ricardo Martinez']

### Year Born

In [44]:
year_born_list=[]
i=0

while i<10:
    year_born=random.randint(1930,2021)
    year_born_list.append(year_born)
    i=i+1

year_born_list

[1944, 1989, 1990, 1955, 1937, 1966, 1968, 2008, 1936, 1990]

### Number of Kids

In [45]:
kids_list=[]
i=0

while i<10:
    kids=random.randint(0,5)
    kids_list.append(kids)
    i=i+1

kids_list

[4, 3, 5, 2, 3, 2, 1, 1, 3, 0]

### Rent or Own

In [46]:
rent_list=[]
rent_options=['Rent','Own']
i=0

while i<10:
    rent=rent_options[random.randint(0,1)]
    rent_list.append(rent)
    i=i+1

rent_list

['Rent', 'Own', 'Rent', 'Rent', 'Own', 'Rent', 'Own', 'Rent', 'Own', 'Rent']

### Annual Income

In [47]:
income_list=[]
i=0

while i<10:
    income=random.normalvariate(50000, 19000)
    income_list.append(round(income))
    i=i+1

income_list

[58564, 75297, 31995, 44546, 77026, 42428, 58447, 72166, 32782, 50810]

### Number of speeding tickets

In [48]:
tickets_list=[]
tickets_options=[0,0,0,1,1,2,2,3]
i=0

while i<10:
    tickets=random.choice(tickets_options)
    tickets_list.append(tickets)
    i=i+1

tickets_list

[0, 0, 2, 0, 2, 0, 0, 2, 0, 3]

In [50]:
df = pd.DataFrame(zip(name_list, email_list, phone_list, address_list, year_born_list, kids_list, rent_list, income_list, tickets_list),columns=('Name','Email','Phone','Address','Year Born','Kids','Rent/Own','Income','Tickets'))

df

                  Name                Email  ... Income Tickets
0       Melissa Hudson    rpMOCrJ@yahoo.com  ...  58564       0
1        Cody Cantrell    NbQPbNX@yahoo.com  ...  75297       0
2       Nicholas Young       DWEvThU@jh.edu  ...  31995       2
3        Kevin Hawkins       VtpzLTI@jh.edu  ...  44546       0
4    Christine Osborne     fhsrkMC@umbc.edu  ...  77026       2
5       Joyce Mckenzie     rchUdQG@umbc.edu  ...  42428       0
6       Darryl Michael       RZpBRdD@jh.edu  ...  58447       0
7       Richard Chavez     uHuSvBD@umbc.edu  ...  72166       2
8  Christina Christian  tXuGrAl@hotmail.com  ...  32782       0
9     Ricardo Martinez  grogzgu@hotmail.com  ...  50810       3

[10 rows x 9 columns]