<a href="https://colab.research.google.com/github/aperfilyeva/anna_data601/blob/main/assignment_03/DS601_Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Assignment 3

 - Anna Perfilyeva
 - 03/04/2022

Write a Python notebook that generates a file containing the following data:
 - Email addresses
 - Phone numbers
 - Home Address
 - Person's name
 - Year born. Use realistic values.
 - Number of kids. Use realistic values.
 - Categorical variable: rent or own?
 - Annual income. Optional challenge: Use a non-uniform distribution
 - Number of speeding tickets in past year. Optional challenge: Use a non-uniform distribution
 - User of your notebook should be able to specify how many entities are to be generated.
 - Generate data in 2 of the following 3 formats: XML, CSV, or JSON. Your choice! Order of columns in CSV is not relevant.

In [65]:
import pandas as pd
import numpy as np
import random
import string

In [66]:
pip install faker

Requirement already satisfied: faker in /usr/local/lib/python3.7/dist-packages (13.3.0)
Requirement already satisfied: typing-extensions>=3.10.0.2 in /usr/local/lib/python3.7/dist-packages (from faker) (3.10.0.2)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)

In [67]:
from faker import Faker

fake=Faker()

### Define number of observations

In [68]:
obs=input("Input desired number of random observations:")
print(obs)

Input desired number of random observations:100
100

In [69]:
#pip install names

### Random Email

In [70]:
# domains = [ "hotmail.com", "gmail.com", "jh.edu", "umbc.edu" , "yahoo.com"]

email_list=[]
i=0
while i <int(obs):
   email=fake.email()
   email_list.append(email)
   i=i+1

#email_list

['dyerandrew@example.com',
 'yelliott@example.org',
 'xkim@example.org',
 'crystal99@example.net',
 'christie20@example.org',
 'samuel10@example.com',
 'christopher17@example.org',
 'jamesnelson@example.com',
 'butlerjesse@example.net',
 'wilsonadam@example.net',
 'pamela34@example.org',
 'nathaniel67@example.net',
 'mdavis@example.com',
 'riley12@example.com',
 'brettromero@example.net',
 'wwhite@example.com',
 'cathyclark@example.net',
 'brittany77@example.net',
 'xjones@example.net',
 'josepherickson@example.com',
 'james65@example.com',
 'samantha57@example.net',
 'markramos@example.net',
 'ramoschad@example.org',
 'wardjorge@example.org',
 'stuartrandall@example.net',
 'keith27@example.com',
 'scrawford@example.org',
 'billy27@example.com',
 'denisewong@example.org',
 'dukealbert@example.com',
 'erikmercado@example.org',
 'chelseasimpson@example.com',
 'banksashley@example.net',
 'harristara@example.com',
 'pmeza@example.com',
 'paulwu@example.com',
 'carrshawna@example.net',
 'tbuckley@example.com',
 'kirktorres@example.org',
 'williamdavis@example.net',
 'omarphillips@example.net',
 'jschroeder@example.org',
 'dustinjohnson@example.com',
 'anitahill@example.com',
 'tinamartin@example.net',
 'jamesclark@example.net',
 'ryanrachel@example.net',
 'cheryl97@example.org',
 'hernandezsarah@example.org',
 'dpark@example.org',
 'douglas58@example.net',
 'elizabethhill@example.org',
 'hgreene@example.net',
 'martinezbrandon@example.net',
 'moorecharles@example.com',
 'moyershannon@example.net',
 'jacksonruben@example.org',
 'kimberly85@example.net',
 'howardcynthia@example.org',
 'bobbycarrillo@example.com',
 'jonescandice@example.org',
 'coreyshah@example.net',
 'todd65@example.org',
 'nmoore@example.com',
 'alec79@example.com',
 'daniel78@example.org',
 'griffinmisty@example.net',
 'griffintonya@example.net',
 'joshua40@example.net',
 'phillipsbenjamin@example.org',
 'patricia42@example.net',
 'wdennis@example.org',
 'huffkevin@example.com',
 'timothy48@example.org',
 'johnsonmark@example.org',
 'lopezluis@example.org',
 'darryl50@example.net',
 'tina49@example.com',
 'rodney46@example.net',
 'deborah30@example.com',
 'brownjonathan@example.org',
 'qmiller@example.org',
 'greenkerri@example.org',
 'nataliedunn@example.net',
 'catherine65@example.net',
 'jamie77@example.org',
 'fhorton@example.com',
 'sross@example.net',
 'fbrooks@example.com',
 'mkane@example.com',
 'gbradley@example.net',
 'deborah16@example.com',
 'andrew38@example.org',
 'william45@example.com',
 'ghodges@example.com',
 'ubrown@example.org',
 'teresawarren@example.org',
 'garciakaren@example.net',
 'christianmartinez@example.org']

### Random phone number

In [71]:
phone_list=[]
i=0
while i<int(obs):
    phone_number=str(random.randint(100,999))+"-"+str(random.randint(100,999))+"-"+str(random.randint(1000,9999))
    phone_list.append(phone_number)
    i=i+1

phone_list

['804-513-6002',
 '690-612-3990',
 '906-251-5042',
 '136-161-3686',
 '960-114-9291',
 '696-271-2945',
 '741-693-2962',
 '124-111-9150',
 '507-761-2297',
 '352-149-2528',
 '748-151-2055',
 '562-215-4292',
 '842-983-7421',
 '281-870-1466',
 '510-164-7215',
 '539-424-7731',
 '528-157-7676',
 '746-470-1506',
 '210-255-1249',
 '261-661-4443',
 '231-548-2905',
 '621-190-2054',
 '787-907-4825',
 '411-985-6348',
 '212-712-9829',
 '783-433-6956',
 '184-149-3055',
 '698-834-4502',
 '112-509-3435',
 '822-104-4796',
 '600-515-3759',
 '477-476-5650',
 '146-121-1409',
 '296-668-9908',
 '656-294-9119',
 '484-214-8254',
 '282-998-7864',
 '227-758-4008',
 '567-289-5367',
 '841-723-9386',
 '422-937-3126',
 '321-377-4115',
 '412-312-4392',
 '871-943-7168',
 '720-528-2801',
 '807-120-7077',
 '948-219-7281',
 '293-236-1739',
 '590-503-4026',
 '640-224-3044',
 '314-455-6387',
 '774-547-8691',
 '916-237-9218',
 '557-235-3586',
 '697-738-1248',
 '626-784-4827',
 '896-832-7789',
 '592-271-1668',
 '969-866-8213',
 '332-142-9101',
 '614-314-6560',
 '864-302-4573',
 '362-761-9305',
 '263-228-9514',
 '349-186-6731',
 '883-300-8835',
 '193-660-3079',
 '596-685-5813',
 '834-576-5157',
 '123-857-3696',
 '704-666-4799',
 '674-127-6596',
 '908-372-4448',
 '992-778-4849',
 '932-924-6595',
 '853-734-7955',
 '872-874-3650',
 '198-724-5111',
 '872-325-4111',
 '702-857-2235',
 '171-283-2303',
 '370-389-8808',
 '361-945-9633',
 '728-897-9590',
 '915-372-8637',
 '920-677-8467',
 '712-975-7369',
 '836-989-5095',
 '775-431-8476',
 '775-829-5807',
 '452-463-5349',
 '173-208-3036',
 '956-612-5088',
 '604-665-6038',
 '505-343-1331',
 '999-787-4162',
 '840-521-2235',
 '488-313-3745',
 '852-437-7686',
 '104-896-2702']

### Home Address

In [72]:
address_list=[]
i=0

while i<int(obs):
  address=fake.address()
  address1=address.replace("\n"," ")
  address_list.append(address1)
  i=i+1

#address_list

### Name List

In [73]:
name_list=[]
i=0

while i<int(obs):
  name=fake.name()
  name_list.append(name)
  i=i+1

#name_list

### Year Born

In [74]:
year_born_list=[]
i=0

while i<int(obs):
    year_born=random.randint(1930,2021)
    year_born_list.append(year_born)
    i=i+1

#year_born_list

### Number of Kids

In [75]:
kids_list=[]
i=0

while i<int(obs):
    kids=random.randint(0,5)
    kids_list.append(kids)
    i=i+1

#kids_list

### Rent or Own

In [76]:
rent_list=[]
rent_options=['Rent','Own']
i=0

while i<int(obs):
    rent=rent_options[random.randint(0,1)]
    rent_list.append(rent)
    i=i+1

#rent_list

### Annual Income

In [77]:
income_list=[]
i=0

while i<int(obs):
    income=random.normalvariate(50000, 19000)
    income_list.append(round(income))
    i=i+1

#income_list

### Number of speeding tickets

In [78]:
tickets_list=[]
tickets_options=[0,0,0,1,1,2,2,3]
i=0

while i<int(obs):
    tickets=random.choice(tickets_options)
    tickets_list.append(tickets)
    i=i+1

#tickets_list

In [79]:
df = pd.DataFrame(zip(name_list, email_list, phone_list, address_list, year_born_list, kids_list, rent_list, income_list, tickets_list),
                  columns=('Name','Email','Phone','Address','Year Born','Kids','Rent/Own','Income','Tickets'))

df

,Name,Email,Phone,Address,Year Born,Kids,Rent/Own,Income,Tickets
0,Mr. Jeffery Price,dyerandrew@example.com,804-513-6002,"1115 Wilson Locks Patrickview, MN 05049",1997,3,Rent,29467,1
1,Collin Wilson,yelliott@example.org,690-612-3990,"8227 Sara Oval Suite 774 Melissaburgh, ID 14469",2001,1,Rent,17480,3
2,Deborah Warren,xkim@example.org,906-251-5042,"95258 Norton Forest Jamesview, MA 28304",1981,1,Rent,34989,3
3,Shawn Walker,crystal99@example.net,136-161-3686,"897 Buchanan Summit Elizabethland, NC 82087",1937,4,Rent,75367,1
4,Amy Robinson,christie20@example.org,960-114-9291,"194 Ferguson Bypass East Barbara, KY 45209",2016,3,Own,58798,0
...,...,...,...,...,...,...,...,...,...
95,Caitlin Williams,ghodges@example.com,999-787-4162,"7455 Karen Inlet Suite 334 New Natashaland, HI...",2005,1,Own,55968,3
96,Jennifer Mendez,ubrown@example.org,840-521-2235,"95816 Chan Extension Apt. 036 Kevinside, IN 86904",1981,4,Own,45753,0
97,Brittney Stevens,teresawarren@example.org,488-313-3745,"46811 Melendez Lakes Jeffreymouth, OH 17133",1957,5,Rent,22833,1
98,Edwin Vega,garciakaren@example.net,852-437-7686,"160 Johnson Common Suite 264 New Jonathan, CA ...",2015,1,Rent,16027,0
99,Luis Robertson,christianmartinez@example.org,104-896-2702,"PSC 6869, Box 5391 APO AA 04590",2012,3,Own,58919,0

In [80]:
df.to_csv("fake_data.csv",",")