<a href="https://colab.research.google.com/github/aperfilyeva/anna_data601/blob/main/assignment_02/Homework_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DATA 601
## Assignment 2

 - Name: Anna Perfilyeva
 - 02/22/2022

### 1. Write a function that returns the count of characters and words in a string.

In [10]:
def count_char(char_string):

    length=len(char_string)
    x=char_string.split()
    word_count=len(x)

    
    print("Character Count:", length)
    print("Word Count:", word_count)

In [11]:
count_char("Hello, World!")

Character Count: 13
Word Count: 2

### 2. Write a function that takes a list as the argument and returns a list with each element shifted right by one index.

In [40]:
def list_shift(alist):
    x=alist[0:-1]
    y=alist[-1:]
    newlist=y+x

    print(newlist)

In [41]:
list_shift([1,2,3,4,5])

[5, 1, 2, 3, 4]

### 3. Use Pandas to count the number of rows of data and number of columns

 - Using https://support.spatialkey.com/spatialkey-sample-csv-data/

In [42]:
import pandas as pd

In [48]:
df = pd.read_csv("Sacramentorealestatetransactions.csv")

df.head()

             street        city    zip  ...  price   latitude   longitude
0      3526 HIGH ST  SACRAMENTO  95838  ...  59222  38.631913 -121.434879
1       51 OMAHA CT  SACRAMENTO  95823  ...  68212  38.478902 -121.431028
2    2796 BRANCH ST  SACRAMENTO  95815  ...  68880  38.618305 -121.443839
3  2805 JANETTE WAY  SACRAMENTO  95815  ...  69307  38.616835 -121.439146
4   6001 MCMAHON DR  SACRAMENTO  95824  ...  81900  38.519470 -121.435768

[5 rows x 12 columns]

In [49]:
df.shape

(985, 12)